In [14]:
#Data Preprocessing

In [15]:
#1. isnull()

import pandas as pd
data={'name':['Shabna','Sheenu',None],'age':[25,None,36]}

df=pd.DataFrame(data)
print("Original data \n",df)

print("Missing datas\n",df.isnull())

Original data
      name   age
0  Shabna  25.0
1  Sheenu   NaN
2    None  36.0
Missing datas
     name    age
0  False  False
1  False   True
2   True  False

In [16]:
#Missing values in the age column fill with mean age
#2.filllna()

df['age']=df['age'].fillna(df['age'].mean())
#Missing values in the name column fill with unknown
df['name']=df['name'].fillna("unknown")
print("After filling the missing values\n",df)

After filling the missing values
       name   age
0   Shabna  25.0
1   Sheenu  30.5
2  unknown  36.0

In [17]:
#outliers
#3. quantile()

df=pd.DataFrame({'Salary':[25000,30000,1000000,34000]})
Q1=df['Salary'].quantile(0.25)
Q3=df['Salary'].quantile(0.75)
IQR=Q3-Q1
print("Original data\n",df)
fdata=df[(df['Salary']>Q1-1.5*IQR) & (df['Salary']<Q3+1.5*IQR)]
print("Filtered Data\n",fdata)

Original data
     Salary
0    25000
1    30000
2  1000000
3    34000
Filtered Data
    Salary
0   25000
1   30000
3   34000

In [22]:
#Feature Engineering
#4. Adding new column

df2=pd.DataFrame({'weight':[50,49,65],'height':[156,161,178]})
print(df2)
df2['BMI']=df2['weight']/(df2['height']**2)
print(df2)

   weight  height
0      50     156
1      49     161
2      65     178
   weight  height       BMI
0      50     156  0.002055
1      49     161  0.001890
2      65     178  0.002052

In [24]:
#5. Delete a column
#drop()

df=pd.DataFrame({'ID':[1,2,3],'name':["Anu","Manu","Vinu"],'age':[12,34,23]})
df.drop("ID",axis=1,inplace=True)
print(df)

   name  age
0   Anu   12
1  Manu   34
2  Vinu   23

In [34]:
#Converting Column Types
#6. astype()

df=pd.DataFrame({'salary':['35000','55000']})
df['salary']=df['salary'].astype(int)
print(df)
print(df['salary'].dtypes)

   salary
0   35000
1   55000
int64

In [39]:
df=pd.DataFrame({'Date':['24-03-2025','16-09-2025']})
print(df['Date'].dtypes)
df['Date']=pd.to_datetime(df['Date'])
print(df['Date'].dtypes)

object
datetime64[ns]

C:\Users\Sheenu\AppData\Local\Temp\ipykernel_13420\4199920680.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date']=pd.to_datetime(df['Date'])

In [46]:
#Renaming columns
#7. rename()

df=pd.DataFrame({'emp_name':['Alice'],'emp_age':[25]})
df.rename(columns={'emp_name':'Name','emp_age':'Age'},inplace=True)
print("Renamed Columns: \n",df)

Renamed Columns:
     Name  Age
0  Alice   25